.login-register-bg {
    margin-left: 0px;
    background: url("../images/guitars.jpg") no-repeat;
    background-size: cover;
    height: 100%;
}

.login-jumbotron {
    width: 360px;
    height: 430px;
    margin-top: 120px;
    margin-left: 210px;
}

.login-form {
    width: 280px;
    height: 250px;
}

#register-btn {
    width: 100%;
    margin-left: 330px;
    margin-top: 40px;
}

.register-jumbotron {
    width: 460px;
    height: 560px;
    margin-top: 90px;
}

.register-form {
    width: 880px;
    height: 50px;
    margin-left: -240px;
}

.my-row {
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.add-category-form {
    width: 270px;
    height: 200px;
}

#form-btn {
    width:100%;
}

.bg {
    margin-left: 0px;
    background: url(../images/guitars.jpg) no-repeat;
    background-size: cover;
    transition: 0.5s;
    background-attachment: fixed;
}

.add-category-jumbotron {
    width: 360px;
    height: 330px;
    margin-top: 100px;
    margin-left: 20px;
}

.supplier-jumbotron {
    width: 360px;
    height: 470px;
    margin-top: 70px;
    margin-left: 90px;
}

.supplier-form {
    width: 270px;
    height: 300px;
}

.product-jumbotron{
    width: 620px;
    height: 790px;
    margin: 0px auto;
}

.product-form {
    width: 1160px;
    height: 640px;
    margin-left: -320px;
}

#add-product-btn {
    width: 100%;
    margin-top: 34px;
}

.update-product-jumbotron {
    width: 620px;
    height: 640px;
    margin-left: 250px;
}

#footer-id {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
}

.go-to-login {
    margin-top: -40px;
    margin-bottom: 50px;
    margin-left: 200px;
}

.go-to-register {
    margin-top: -40px;
    margin-bottom: 40px;
    margin-left: 100px;
}

.container .title .profile img {
    margin-left: -160px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.login-register-navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

.navbar-brand {
    margin-left: 10px;
}

.stock-jumbotron {
    width: 430px;
    height: 550px;
    margin-top: 70px;
    margin-left: 90px;
}

.stock-form {
    width: 350px;
    height: 450px;
}

.add-margin-top-190 {
    margin-top: 190px;
}

.width-66 {
    width: 66%;
}

.margin-left-296 {
    margin-left: 296px;
}

.photo-input {
    width: 138%;
    margin-left: -15px;
}

.edit-product-btn {
    margin-left: 450px;
}

.categories-table {
    margin-left: -20px;
}

.add-margin-left {
    margin-left: -130px;
}

.specification-jumbotron {
    width: 360px;
    height: 350px;
    margin-top: 120px;
    margin-left: 210px;
}

.specification-form {
    width: 280px;
    height: 250px;
}

.add-margin-top-5 {
    margin-top: 5px;
}

.add-margin-top-30 {
    margin-top: -30px;
}

#details-div {
    background-color: whitesmoke;
    width: 700px;
    height: 900px;
    margin-top: 90px;
}

.products-container {
    justify-content: center;
    margin-top: 50px;
}

.filter-products-row {
    position: fixed;
    z-index: 1;
    margin-top: 50px;
    margin-left: -95px;
    width: 350px;
    height: 450px;
}

.filter-products-form {
    margin-left: -80px;
    width: 300px;
    height: 950px;
}

.products-row {
    margin-left: 135px;
    margin-top: 20px;
}

.add-margin-top-35 {
    margin-top: 35px;
}

.nextPrevBtns {
    margin-bottom: 20px;
    margin-left: 160px;
}