@model MusicalInstrumentsShop.BusinessLogic.DTOs.StockDto

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/addProductsInStock.js"></script>
    <script src="~/js/addProduct.js"></script>
}

<div class="jumbotron stock-jumbotron">
    <h4>Update stock</h4>
    <div class="col-md-4">
        <form asp-action="Edit" class="stock-form">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CategoryId" class="control-label"></label>
                <select id="category-field" asp-for="CategoryId" class="form-control" onchange="get_products()">
                    <option>Select category</option>
                </select>
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ProductId" class="control-label"></label>
                <select id="product-field" asp-for="ProductId" class="form-control" onclick="get_supplier()">
                    <option>Select product</option>
                </select>
                <span asp-validation-for="ProductId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="SupplierId" class="control-label"></label>
                <select id="supplier-field" asp-for="SupplierId" class="form-control">
                    <option>Select supplier</option>
                </select>
                <span asp-validation-for="SupplierId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="NumberOfProducts" class="control-label"></label>
                <input asp-for="NumberOfProducts" class="form-control" />
                <span asp-validation-for="NumberOfProducts" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" id="form-btn" />
            </div>
        </form>
    </div>
</div>

