<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/jpg" href="~/images/mios-logo.png" />
    <title>@ViewData["Title"] - Musical Instruments</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/css/styles.css" rel="stylesheet" />
    <link href="~/css/adminLayout.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" charset="utf-8"></script>
</head>

<body class="bg">
    <!--wrapper start-->
    <div class="wrapper">
        <!--header menu start-->
        <div class="header">
            <div class="header-menu">
                <div class="title"><span>MIOS</span></div>
                <ul>
                    <li>
                        <a class="nav-link dropdown-toggle" asp-area="" asp-controller="" asp-action="" id="navbarDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Account
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" asp-area="" asp-controller="Account" asp-action="Login">Account</a>
                            <a class="dropdown-item" asp-area="" asp-controller="Account" asp-action="Edit">Edit account</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" asp-area="" asp-controller="Account" asp-action="Logout">Log out</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <!--header menu end-->
        <!--sidebar start-->
        <div class="sidebar">
            <div class="sidebar-menu">
                <center class="profile">
                    <img src="~/images/mios-logo.png" />
                    <p>MIOS</p>
                </center>
                <ul>
                    <li class="item">
                        <a asp-area="" asp-controller="Dashboards" asp-action="Admin" class="menu-btn">
                            <i class="fas fa-desktop"></i><span>Dashboard</span>
                        </a>
                    </li>
                    @*TODO change the id from "profile" to "category" and also modify the css file*@
                    <li class="item" id="profile">
                        <a href="#profile" class="menu-btn">
                            <i class="fas fa-list-alt"></i><span>Categories <i class="fas fa-chevron-down drop-down"></i></span>
                        </a>
                        <div class="sub-menu">
                            <a asp-area="" asp-controller="Categories" asp-action="Create"><span>Add</span></a>
                            <a asp-area="" asp-controller="Categories" asp-action="Index"><span>View</span></a>
                        </div>
                    </li>
                    @*TODO change the id from "messages" to "supplier" and also modify the css file*@
                    <li class="item" id="messages">
                        <a href="#messages" class="menu-btn">
                            <i class="fas fa-envelope"></i><span>Suppliers <i class="fas fa-chevron-down drop-down"></i></span>
                        </a>
                        <div class="sub-menu">
                            <a asp-area="" asp-controller="Suppliers" asp-action="Create"><span>Add</span></a>
                            <a asp-area="" asp-controller="Suppliers" asp-action="Index"><span>View</span></a>
                        </div>
                    </li>
                    @*TODO change the id from "settings" to "product" and also modify the css file
                        also, change the icons*@
                    <li class="item" id="settings">
                        <a href="#settings" class="menu-btn">
                            <i class="fas fa-product-hunt"></i><span>Products <i class="fas fa-chevron-down drop-down"></i></span>
                        </a>
                        <div class="sub-menu">
                            <a asp-area="" asp-controller="Products" asp-action="Create">Add</a>
                            <a asp-area="" asp-controller="Products" asp-action="Index">View</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <!--sidebar end-->
        <div class="main-container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
    </div>
    <!--wrapper end-->

    <footer class="border-top footer fixed-bottom text-white-50">
        &copy; 2020 - Musical Instruments Online Shop
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    @RenderSection("Scripts", required: false)

</body>
</html>
