<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/jpg" href="~/images/mios-owl.png" />
    <title>@ViewData["Title"] - MIOS</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/css/styles.css" rel="stylesheet" />
    <link href="~/css/adminLayout.css" rel="stylesheet" />
</head>


<body class="bg">
    <div class="wrapper">
        <!--header menu start-->
        <div class="header">
            <div class="header-menu">
                <div class="title">
                    <center class="profile">
                        <img src="~/images/mios-owl.png" />
                    </center>
                </div>
                <a class="navbar-brand add-margin-left white-link" asp-area="" asp-controller="" asp-action="">Musical Instruments Online Shop</a><br />
                <a class="navbar-brand white-link" asp-area="" asp-controller="Products" asp-action="Browse">Browse products</a>
                <span>
                    <a class="navbar-brand white-link" asp-area="" asp-controller="Account" asp-action="Login">Log in</a>
                    <a class="navbar-brand white-link" asp-area="" asp-controller="Account" asp-action="Register">Register</a>
                </span>
            </div>
        </div>
    </div>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer fixed-bottom text-white-50">
        &copy; 2020 - Musical Instruments Online Shop
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
