@model MusicalInstrumentsShop.BusinessLogic.DTOs.CategoryDto

@{
    ViewData["Title"] = "Filter By Category";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@section Scripts {
    <script src="~/js/addProductsInStock.js"></script>
    <script src="~/js/addProduct.js"></script>
}

<div class="row">
    <div class="col-md-4">
        <div class="card">
            <div class="card-title"><h5>Filter products by category</h5></div>
            <div class="card-body">
                <form asp-action="FilteredByCategory">
                    <div class="form-group">
                        <label asp-for="Id" class="control-label">Category</label>
                        <select id="category-field" asp-for="Id" class="form-control set-width-dropdown">
                            <option>Select category</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Filter" class="btn btn-primary" id="form-btn" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

