@model MusicalInstrumentsShop.BusinessLogic.DTOs.AccountInfoDto

@{
    ViewData["Title"] = "Change password";
    if (User.IsInRole("Administrator"))
    {
        Layout = "~/Views/Shared/_AdminLayout.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_CustomerLayout.cshtml";
    }
}

<div class="row">
    <div class="col-md-4">
        <div class="card">
            <div class="card-title"><h5>Change password result</h5></div>
            <div class="card-body">
                @ViewBag.Result
            </div>
            <div>
                <a asp-action="Profile" asp-controller="Account">Go to your profile</a>
            </div>
        </div>
    </div>
</div>

