@model MusicalInstrumentsShop.BusinessLogic.DTOs.LoginDto

@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row add-margin-top-190">
    <div class="col-md-4">
        <div class="card">
            <div class="card-title"><h5>Login result</h5></div>
            <div class="card-body text-danger">
               <p>Login failed!</p>
            </div>
            <div>
                <a asp-action="Login" asp-controller="Account">Try again</a>
            </div>
        </div>
    </div>
</div>
