@model MusicalInstrumentsShop.BusinessLogic.DTOs.LoginDto

@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<hr />
<div class="jumbotron login-jumbotron">
    @if (ViewData["ErrorMessages"] != null)
    {
        <div class="alert alert-danger add-margin-top-30">
            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
            @foreach (var errorMessage in ViewBag.ErrorMessages)
            {
                <p>@errorMessage</p>
            }
        </div>
    }
    <div class="col-md-12 go-to-register add-margin-top-5">
        <a asp-area="" asp-controller="Account" asp-action="Register">You don't have an account?</a>
    </div>
    <div class="col-md-4">
        <form asp-action="Login" class="login-form">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Log in" class="btn btn-dark" id="form-btn" />
            </div>
            <div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
