@model MusicalInstrumentsShop.BusinessLogic.DTOs.RegistrationDto

@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron register-jumbotron">
    @if (ViewData["RegisterResult"] != null)
    {
        <div class="alert alert-danger add-margin-top-30">
            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
            @foreach (var errorMessage in ViewBag.RegisterResult)
            {
                <p>@errorMessage</p>
            }
        </div>
    }
    <div class="col-md-7 go-to-login add-margin-top-5">
        <a asp-area="" asp-controller="Account" asp-action="Login">Already have an account?</a>
    </div>
    <form asp-action="Register" class="register-form">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="row my-row">
            <div class="col-md-3">
                <label asp-for="FirstName">First name</label><br />
                <input asp-for="FirstName" class="form-control">
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="col-md-3">
                <label asp-for="LastName">Last name</label><br />
                <input asp-for="LastName" class="form-control">
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
        </div>

        <div class="row my-row">
            <div class="col-md-3">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="col-md-3">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-3">
            <input type="submit" value="Register" class="btn btn-dark" id="register-btn" />
        </div>
    </form>

</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
