@model MusicalInstrumentsShop.BusinessLogic.ProductFilteringEntities.PaginatedList<MusicalInstrumentsShop.BusinessLogic.DTOs.OrderDetailsDto>

@{
    ViewData["Title"] = "In Progress Orders";
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}

<hr />
<div class="container orders-container">
    <h2>In progress orders</h2>
    <partial name="_OrdersPartial" model="Model" />
</div>

<div class="nextPrevBtnsWishlistOrders">
    @{
        var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
        var nextDisabled = !Model.HasNextPage ? "disabled" : "";
    }

    <a asp-action="InProgress"
       asp-route-pageNumber="@(Model.PageIndex - 1)"
       class="btn btn-dark @prevDisabled">
        Previous
    </a>
    <a asp-action="InProgress"
       asp-route-pageNumber="@(Model.PageIndex + 1)"
       class="btn btn-dark @nextDisabled">
        Next
    </a>
</div>

