@model MusicalInstrumentsShop.BusinessLogic.DTOs.OrderDetailsDto

@{
    ViewData["Title"] = "Ordered products";
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}

<hr />
<div class="container orders-container add-margin-left" style="background-color: whitesmoke;">
    <h2>Ordered Products</h2>
    <div class="table-content table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>Product Name</th>
                    <th>Price</th>
                    <th>Category</th>
                    <th>Number of Items</th>
                </tr>
            </thead>
            @foreach (var item in Model.Items)
            {
                <tbody>
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Product.Name)
                        </td>
                        <td>
                            $ @Html.DisplayFor(modelItem => item.Product.Price)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Product.CategoryName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Quantity)
                        </td>
                    </tr>
                </tbody>
            }
        </table>
    </div>
</div>

<form asp-action="Index" class="add-margin-left-100" asp-controller="Orders" method="get">
    <div class="form-group row">
        <div class="col-xs-2">
            <input type="submit" value="Back to Orders" class="btn btn-dark" />
        </div>
    </div>
</form>
