@{
    ViewData["Title"] = "AccessDenied";
    Layout = "~/Views/Shared/_ErrorLayout.cshtml";
}

<div id="error">
    <div class="error">
        <div class="error-code"></div>
        <h1>403</h1>
        <h2>Oops!</h2>
        <h2>The request has not completed successfully because you do not have permission to this resource.</h2>
    </div>
</div>

