
@{
    ViewData["Title"] = "NotFound";
    Layout = "~/Views/Shared/_ErrorLayout.cshtml";
}

<div id="error">
    <div class="error">
        <div class="error-code"></div>
        <h1>404</h1>
        <h2>Oops! Sorry, the resource you requested could not be found...</h2>
    </div>
</div>

