@model IEnumerable<MusicalInstrumentsShop.BusinessLogic.DTOs.DeliveryMethodDto>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h3 class="text-center text-white">Delivery methods</h3>
<table class="table table-striped table-bordered table-hover table-dark categories-table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Method)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Method)
                </td>
                <td>
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
